@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
  font-family: 'Lato', sans-serif;
  height: 100%;
  background: #f7f7f7;
}

.wrapper{
  display: flex;
  flex-direction: column;
  max-width: 2048px;
  min-height: 100vh;
  margin: 0 auto;
}

.intro{
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  &__bg-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;    
  }

  .header-bg{
    display: none;
    z-index: 2;
    width: 110vw;
    height: 110px;
    background-color: rgba(247,247,247, 0.5);
  }

  .header__fixed{
    display: block;
    position: fixed;
    margin: 0;
    top: 0;

    animation-name: show_head;  
    animation-duration: 0.7s;
  }
}

.header{

  position: absolute;
      left: 50%;
    transform: translateX(-50.4%);

  height: 110px;  
  margin: 40px 0 0 0;
  z-index: 10;
  width: 100vw;


  &__container { 
    height: 110px;     
    width: 37.5%;
    min-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    @media (max-width: 769px){width: 80%; min-width: 260px}
  }
  &__body{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @keyframes show_head{
    0%{
      opacity: 0;
      top: -130px;      
    }
    100%{
      opacity: 1;
      top: 0;
    }
  }


  &__burger{    
    z-index: 12;
    position: relative;
    display: none;
    width: 40px;
    height: 20px;
    @media (max-width: 769px){display: block;}
    &.active:before{      
      top: 9px;
      transform: rotate(45deg);
    }
    &.active:after{
      top: 9px;
      transform: rotate(-45deg);
    }
    &.active span{
      transform: scale(0);
    }
  }
  &__burger:before, &__burger:after{
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition-duration: 0.1s;
  }
  &__burger:before{top: 0;}
  &__burger:after{bottom: 0;}
  &__burger span{
    transition-duration: 0.3s;
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  &__mobile-logo{ 
    z-index: 12;
    width: 20%;
    & img{
      width: 100%;
      max-width: 80px;
      min-width: 60px;
    }
    @media (min-width: 769px){display: none;}
  }
}

.nav {
  flex-grow: 1;    
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-items: center;
  align-items: center;

  font-size: 13px;
  @media (min-width: 1600px){font-size: 15px;}
  font-weight: bold;
  letter-spacing: 2.6px;

  & a{transition: all 0.2s ease-out;}
  & a:hover{color: rgb(170, 170, 170)}
  & a{color: #4d4959;}
  @media (max-width: 769px){display: none;}
  &.menu__nav{
    @media (max-width: 769px){
      width: 30%;

      display: grid;      
      grid-template-columns: repeat(1,100%); 
      grid-template-rows: repeat(7, auto);
      height: 70%;
      font-size: 16px;        
      color: #fff;
      & a{color: #fff;}
      right: -100%;
      &.active{
      right:0;
      }
    }
  }
  &__logo{
    padding: 0 35px;
  }  
}

.menu, .menu-bg{

  position: fixed;
  display: none;   
  @media (max-width: 769px){
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  height: 100%;
  right: -50%;    
  top: 50%;
  transform: translate(50%, -50%);
      
  transition-duration: 0.3s; 
  &.active{right: 50%;}
}

.menu{z-index: 100;}

.menu-bg{    
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: #282f35;
}

.about-us{  
  min-height: 469px;
  background: #f7f7f7;

    display: flex;
    align-items: center;
    justify-content: center;

  &__container{
    @media (max-width: 1024px){width: 90%;}  
    width: 67.5%;
    padding: 40px 1%;
    margin: 0 auto;    
  }
}

.info-block{ 
  line-height: 30px;
  text-align: center;
  
  &__title{    
    font-size: 18px;
    font-weight: bold;
    margin: 22px 0 10px 0;
    letter-spacing: 3.6px;
  }  

  &__text{
    text-align: justify; 
    font-size: 16px;  
    color: #848789;  
    margin: 0 0 10% 0;
  }
  
  &__decoration{
    width: 50px;
    height: 1px;
    background-color:#d7d7d7;
    display: block;
    margin: 0 auto;
  } 


  &.info-block_big{        
    line-height: 34px;
    text-align: center;
    .info-block__title{margin: 24px 0 14px 0;}
    .info-block__text{text-align: center; margin: 0; font-size: 18px;}
    @media (max-width: 426px) {
      .info-block__title{font-size: 18px;}
      .info-block__text{font-size: 16px;}
    }
  }
}

.bikes {

  &__grid-container {
    @media (max-width: 769px){display: block;}
    @media (max-width: 1025px){
      grid-template-columns: repeat(2, minmax(50%, 534px));
      grid-template-rows: repeat(3, minmax(300px, 600px));
    }

    display: grid;
    grid-template-columns: repeat(3, minmax(33.333%, 534px));
    grid-template-rows: repeat(3, minmax(300px, 600px));
  }

  &__item {    
    min-height: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;

    &:nth-child(1){order:1;}
    &:nth-child(2){order:2; @media (max-width: 769px){margin: 0 0 100px 0;}}
    &:nth-child(3){order:4;}
    &:nth-child(4){order:3; @media (max-width: 769px){margin: 0 0 100px 0;}}
    &:nth-child(5){order:5;}
    &:nth-child(6){order:7;@media (max-width: 1024px){  display: none;}}
    &:nth-child(7){order:6;}
  }

  &__item-two-cells{
    grid-column: span 2; 
    @media (max-width: 1024px) {grid-column:span 1;}}

  &__picture-container {
    position: relative;    
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;    
  }
  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;    
  }
  
  &__logo {z-index: 1;}

  &__info-block-container {
    padding: 25px 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }  
  &__info-block {}

  &__mini-picture-container{
    position: relative;
    overflow: hidden;    
    min-height: 200px;
    &:after{
      z-index: 2;
      content:'';
      display: block;
      width: 20px;
      height: 20px;
      background-color: #000;
      transform: rotate(45deg);
      margin: 0 auto;
      background-color: #f7f7f7;
      position: relative;
      top:-10px;
    }
  }  
  &__mini-picture{
    position: absolute;
    width: 100%;
    height: 100%;    
    object-fit: cover;    
  }
  &__mini-picture, &__picture{transition: all 0.3s ease-out;}
  &__mini-picture:hover, &__picture:hover{transform: scale(1.05);}
}

.twitter{
  min-height: 469px;
  background-color: #f7f7f7;
  &__container {    
    padding: 124px 0 68px;
    @media (max-width: 426px) {padding: 82px 0 45px;}
    justify-content: center;
  }
  &__content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    
  }
  &__title {
    margin: 35px 0 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #353738;
    letter-spacing: 1.8px;
  }
  &__time {
    font-weight: 300;
    color: #848789;
  }
  &__space{
    @media (min-width: 424px) { display: none; }
  }
  &__text {
    font-size: 24px;
    @media (max-width: 376px){
      font-size: 22px;
    }
    font-style: italic;
    line-height: 1.42;
    text-align: center;
    color: #848789;
  }
}

.slider{
  &__item-container{
    padding: 0 15%;
  }

  .slick{
    &-track{
      display: flex;
    }
    &-list{
      overflow: hidden;
    }
    &-dots{
      margin: 90px 0 0 0;
      @media (max-width: 426px) {margin: 60px 0 0 0;}
      display: flex;
      justify-content: center;
      & li{margin-right: 9px;}
      & li.slick-active button{background-color: #a9afb3;;}
      & button{
        transition: 0.3s;
        font-size: 0;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: solid 1px #c8c8c8;
        background-color: #f7f7f7;;
      }
    }
  }
}

.shop{
  &__grid{      
  height: 534px;
    @media (max-width: 1024px){      
      grid-template-columns: repeat(3, 33.333%);
      grid-template-rows: repeat(2, 50%);
    }
    @media (max-width: 600px){height: 267px; grid-template-columns: repeat(2, 50%)}
    display: grid;
    grid-template-columns: repeat(6, 16.666%);
    grid-template-rows: repeat(2, 50%);
  }  
  &__item{
    overflow: hidden;
    &:nth-child(3){grid-column: span 2; grid-row: 2 / 3;}
    &:nth-child(4){grid-row: span 2;}
    &:nth-child(5){grid-row: span 2;}
    &:nth-child(6){grid-column: 5 / span 2 ; @media (max-width: 1024px){grid-column: 1 / 3;}}
    &:nth-child(3), &:nth-child(5), &:nth-child(8), &:nth-child(7) {@media (max-width: 1024px){display: none;}}    
    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(6), &:nth-child(7), &:nth-child(8){@media (max-width: 600px){display: none;}}
    &:nth-child(5){@media (max-width: 600px){display: block;}}
  }
  &__picture{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__button-container{
    height: 200px;
    background-color: #282f35;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button{    
    background-color: #282f35;
    width: 300px;
    height: 50px;
    border: solid 1px rgba(255, 255, 255, 0.5);      
  }
  &__text{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2.8px;
    color: #fff;
  }
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;  
  transition: 0.2s linear;  
  &:hover{
    transform: scale(1.05);
  }
}

.email {
  background-color: #fff;
  padding: 110px 0;
  display: flex; 
  justify-content: center;
  align-items: center;  

  &__container {
    @media (max-width: 640px){
      width: 85%;
    }    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 534px;
  }
  &__logo {
  }
  &__slogan {
    margin: 40px 0 35px 0;
    font-size: 24px;    
    font-style: italic;
    color: #848789;
  }
  &__form{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__input {
    width: 74.9%;
    height: 69px;
    border: solid 1px #d3d7d9;
    padding: 0 0 0 28px;

    font-size: 20px;    
    font-style: italic;
    color: #848789;

  }
  &__input::placeholder{opacity: 0.5;}

  &__button{
    width: 23.6%;
    height: 69px;
    background: #64c29e;

    font-size: 24px;
    font-weight: 300;
    color: #fff;
  }
}

.footer { 
  height: 250px;
  background-color: #f7f7f7;
  &__content {  
    height: 100%; 
    @media (max-width: 800px){grid-template-columns: repeat(1, auto); grid-template-rows: repeat(3, auto); align-content: space-evenly;}
    width: 68.75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    align-items: center;
  }
  &__item:nth-child(1){}
  &__item:nth-child(2){justify-self: center;}
  &__item:nth-child(3){justify-self: end;}
  &__item, &__item:nth-child(3){@media (max-width: 800px){justify-self: center; align-self: center; text-align: center;}}
}

.adress {      
  color: #848789;
  font-style: italic;
  line-height: 18px;
  &__city {font-size: 16px; font-weight: bold;}
  &__street {}
  &__domain {font-size: 14px;}
}

.icons {    
  &__icon{
    margin: 0 15px 0 0;
    &:last-child{margin:0;}
  }
  &__twitter {}
  &__facebook {}
  &__p {}
}

.credits {    
  display: flex;  
  align-items: center;
  &__who { display: inline-block; margin: 0 10px 0 0;}
  &__logo {}  
  color: #848789;
  font-style: italic;
}